{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/client/checkout.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="container">
    <h2>Finalizar Pedido</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div id="cards-pratos">
        <p>aqui sera exibido os cards dos pratos</p>
    </div>

    <div id="resumo-container">
        <div id="titulo-resumo">
            <span>Seu pedido em</span>
            <h3>Japapou [rua]</h3>
        </div>
        <div id="resumo-pedido">
            <div id="container-resumo"> 
                <div><p>Subtotal</p><p>R$ {{ subtotal }}</p></div>
                <div><p>Entrega</p><p>R$ {{ taxa_entrega }}</p></div>
                <div><h4>Total</h4><h4>R$ {{ total }}</h4></div>
            </div>
            <a href="{% url 'cart_view' %}"><i class="fa-solid fa-pencil"></i>Editar</a>
        </div>
    </div>

        <div id="container-tipo-pedido">
            <form method="POST" action="{% url 'checkout' %}">
                {% csrf_token %}
                
                <div class="radio-group">
                    <input type="radio" id="entrega" name="tipo_pedido" value="{{ TipoPedido.ENTREGA }}" required>
                    <label for="entrega">Entrega</label>
                    <input type="radio" id="retirada" name="tipo_pedido" value="{{ TipoPedido.RETIRADA }}" required>
                    <label for="retirada">Retirada</label>
                </div>

                <div id="bloco-enderecos">

                    <div><img src="../../static/imgs/localization-icon.png"></img></div>

                    <div>
                        <h3>[Bairro], [Rua], [Numero]</h3>
                        <p>complemento: [Complemento]</p>
                    </div>

                    {% if enderecos %}
                        <button type="button" id="btn-abrir-modal">
                            Escolher
                        </button>
                        <input type="hidden" id="input-endereco-id" name="endereco_id" value="">
                    {% else %}
                        <p style="color: red;">
                            Você não possui endereços cadastrados para entrega.
                        </p>
                    {% endif %}

                    
                    {% comment %} <a href="{% url 'add_endereco' %}" style="font-size: 0.9em; margin-top: 10px; display: inline-block;">
                        + Adicionar novo endereço
                    </a> {% endcomment %}
                </div>

                <div id="tipo-entrega">
                    <h3>[Data entrega], [estimativa]min</h3>
                    <div>
                        <h3>Padrão<h3>
                        <p>Hoje, 35min</p>
                        <strong>R$ 5,00</strong>
                    </div>
                </div>

                <hr>
                
                <button type="submit" class="btn btn-lg btn-success">
                    Confirmar e Pagar (Simulado)
                </button>
            </form>
        </div>
    </div>
</div>

<dialog id="modal-enderecos">
    {% for endereco in enderecos %}
        <div class="endereco-item" data-id="{{ endereco.id }}" 
             data-logradouro="{{ endereco.logradouro }}"
             data-numero="{{ endereco.numero }}"
             data-bairro="{{ endereco.bairro }}">
            <strong>{{ endereco.apelido|default:"Endereço" }}:</strong> 
            {{ endereco.logradouro }}, {{ endereco.numero }} ({{ endereco.bairro }})
        </div>
    {% endfor %}
</dialog>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/client/checkout.js' %}"></script>
{% endblock %}