:root {
	--darker-gray: #2a2929;
	--dark-gray: #565656;
	--gray: #7f7f7f;
	--light-gray: #a5a5a5;
	--lighter-gray: #cdcdcd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
}
