{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <title>
      {% block title %}

      {% endblock %}- JAPAPOU
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Inter:wght@300;400;600&family=Italiana&display=swap" rel="stylesheet" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <div id="foto-perfil">
        <a href="{% url 'manager_profile' %}"><img src="imagens/user.png" alt="Usuário" width="24px" /></a>
      </div>

      <a href="{% url 'home' %}"><p>JAPAPOU</p></a>

      <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
    <nav>
      <ul class="sideMenu" id="sideMenu">
        {% include 'partials/menu_manager.html' %}
      </ul>
    </nav>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <script src="{% static 'js/global.js' %}"></script>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
