{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="stylesheet" href="{% static 'css/global.css' %}" />
		<title>{% block title %}{% endblock title %}</title>
		{% block extra_head %}{% endblock extra_head %}
	</head>
	<body>
		<header>
			{% comment %} TODO: Atualizar o header e fazer o botão de menu funcionar {% endcomment %}
			<img
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw_HeSzHfBorKS4muw4IIeVvvRgnhyO8Gn8w&s"
				width="60"
				height="60"
				alt="Japapou Logo"
			/>
			
			<p>Japapou</p>
			<button>
			<img
				src="https://t3.ftcdn.net/jpg/02/24/13/60/360_F_224136032_b11na6zJLTpORSjfauRdpKamQDc7Uejv.jpg"
				width="60"
				height="60"
				alt="Japapou Logo"
			/></button>
		</header>
		<nav class="sidenav" style="display: none">
			{% include "partials/menu_manager.html" %}
		</nav>
		<main>{% block content %} {% endblock content %}</main>
		{% block scripts %} {% endblock scripts %}
	</body>
</html>
