{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/eb5472cd53.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

        <link rel="stylesheet" href="{% static 'css/delivery_man/deliver.css' %}" />
        <title>Confirmar Entrega - JAPAPOU</title>
    </head>

<body>
    <header>
      <div id="logo">
        <a href="{% url 'home' %}"><img src="{% static 'imgs/logo.png' %}" alt="Logo Japapou" width="32px" /></a>
      </div>

      <a href="{% url 'home' %}"><p>JAPAPOU</p></a>

      <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
    <nav>
      <ul class="sideMenu" id="sideMenu">
        {% include 'partials/menu_manager.html' %}
      </ul>
    </nav>
    <main>
        <!-- ----------------------------------------------carrossel---------------------------------------------------------- -->
        <div>
            <div class="coverflow-container">
                <div class="coverflow">
                    <div class="slide">
                        <div class="div-principal">
                            <div class="conteudo">
                                <div class="images">
                                    <img
                                        class="img-principal"
                                        src="{% static 'imgs/delivery_man/deliver/img_jap1.png' %}"
                                        alt=""
                                    />
                                    <img
                                        class="img-secundaria"
                                        src="{% static 'imgs/delivery_man/deliver/imagem_sec.png' %}"
                                        alt=""
                                    />
                                </div>
                                <div class="prato">
                                    <h3>1x Lamen com Gyoza</h3>
                                    <p>
                                        Macarrão instantâneo bem cozido, folhas
                                        verdes (como bok choy ou acelga),
                                        cogumelos salteados, cebolinha e gyozas
                                        cozidos no vapor ou levemente grelhados,
                                        além de molho aromático, sementes de
                                        gergelim preto.
                                    </p>
                                </div>

                                <div class="detalhes">
                                    <div class="circles">
                                        <div class="circ-2"><p>$</p></div>
                                        <div class="circ-1"><p>69</p></div>
                                    </div>
                                    <div class="especificacao">
                                        <h5>Especificações</h5>
                                        <p>
                                            Tirar cogumelos, colocar gyozas
                                            grelhados em vez de cozidos, sem
                                            cebolinha e molho à parte (não
                                            misturar no caldo).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="div-principal">
                            <div class="test">
                                <div class="images">
                                    <img
                                        class="img-principal"
                                        src="{% static 'imgs/delivery_man/deliver/img_jap2.png' %}"
                                        alt=""
                                    />
                                    <img
                                        class="img-secundaria"
                                        src="{% static 'imgs/delivery_man/deliver/imagem_sec.png' %}"
                                        alt=""
                                    />
                                </div>
                                <div class="prato">
                                    <h3>Comida</h3>
                                    <p>
                                        Macarrão instantâneo bem cozido, folhas
                                        verdes (como bok choy ou acelga),
                                        cogumelos salteados, cebolinha e gyozas
                                        cozidos no vapor ou levemente grelhados,
                                        além de molho aromático, sementes de
                                        gergelim preto.
                                    </p>
                                </div>

                                <div class="detalhes">
                                    <div class="circles">
                                        <div class="circ-2"><p>$</p></div>
                                        <div class="circ-1"><p>69</p></div>
                                    </div>
                                    <div class="especificacao">
                                        <h5>Especificações</h5>
                                        <p>
                                            Tirar cogumelos, colocar gyozas
                                            grelhados em vez de cozidos, sem
                                            cebolinha e molho à parte (não
                                            misturar no caldo).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="div-principal">
                            <div class="test">
                                <div class="images">
                                    <img
                                        class="img-principal"
                                        src="{% static 'imgs/delivery_man/deliver/img_jap1.png' %}"
                                        alt=""
                                    />
                                    <img
                                        class="img-secundaria"
                                        src="{% static 'imgs/delivery_man/deliver/imagem_sec.png' %}"
                                        alt=""
                                    />
                                </div>
                                <div class="prato">
                                    <h3>1x Lamen com Gyoza</h3>
                                    <p>
                                        Macarrão instantâneo bem cozido, folhas
                                        verdes (como bok choy ou acelga),
                                        cogumelos salteados, cebolinha e gyozas
                                        cozidos no vapor ou levemente grelhados,
                                        além de molho aromático, sementes de
                                        gergelim preto.
                                    </p>
                                </div>

                                <div class="detalhes">
                                    <div class="circles">
                                        <div class="circ-2"><p>$</p></div>
                                        <div class="circ-1"><p>69</p></div>
                                    </div>
                                    <div class="especificacao">
                                        <h5>Especificações</h5>
                                        <p>
                                            Tirar cogumelos, colocar gyozas
                                            grelhados em vez de cozidos, sem
                                            cebolinha e molho à parte (não
                                            misturar no caldo).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="div-principal">
                            <div class="test">
                                <div class="images">
                                    <img
                                        class="img-principal"
                                        src="{% static 'imgs/delivery_man/deliver/img_jap2.png' %}"
                                        alt=""
                                    />
                                    <img
                                        class="img-secundaria"
                                        src="{% static 'imgs/delivery_man/deliver/imagem_sec.png' %}"
                                        alt=""
                                    />
                                </div>
                                <div class="prato">
                                    <h3>1x Lamen com Gyoza</h3>
                                    <p>
                                        Macarrão instantâneo bem cozido, folhas
                                        verdes (como bok choy ou acelga),
                                        cogumelos salteados, cebolinha e gyozas
                                        cozidos no vapor ou levemente grelhados,
                                        além de molho aromático, sementes de
                                        gergelim preto.
                                    </p>
                                </div>

                                <div class="detalhes">
                                    <div class="circles">
                                        <div class="circ-2"><p>$</p></div>
                                        <div class="circ-1"><p>69</p></div>
                                    </div>
                                    <div class="especificacao">
                                        <h5>Especificações</h5>
                                        <p>
                                            Tirar cogumelos, colocar gyozas
                                            grelhados em vez de cozidos, sem
                                            cebolinha e molho à parte (não
                                            misturar no caldo).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="div-principal">
                            <div class="test">
                                <div class="images">
                                    <img
                                        class="img-principal"
                                        src="{% static 'imgs/delivery_man/deliver/img_jap1.png' %}"
                                        alt=""
                                    />
                                    <img
                                        class="img-secundaria"
                                        src="{% static 'imgs/delivery_man/deliver/imagem_sec.png' %}"
                                        alt=""
                                    />
                                </div>
                                <div class="prato">
                                    <h3>1x Lamen com Gyoza</h3>
                                    <p>
                                        Macarrão instantâneo bem cozido, folhas
                                        verdes (como bok choy ou acelga),
                                        cogumelos salteados, cebolinha e gyozas
                                        cozidos no vapor ou levemente grelhados,
                                        além de molho aromático, sementes de
                                        gergelim preto.
                                    </p>
                                </div>

                                <div class="detalhes">
                                    <div class="circles">
                                        <div class="circ-2"><p>$</p></div>
                                        <div class="circ-1"><p>69</p></div>
                                    </div>
                                    <div class="especificacao">
                                        <h5>Especificações</h5>
                                        <p>
                                            Tirar cogumelos, colocar gyozas
                                            grelhados em vez de cozidos, sem
                                            cebolinha e molho à parte (não
                                            misturar no caldo).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="prev"><img src="{% static 'imgs/delivery_man/deliver/Seta.png' %}" alt=""></button>
                <button id="next"><img src="{% static 'imgs/delivery_man/deliver/Seta.png' %}" alt=""></button>
            </div>
        </div>

<!-- -------------------------------------------------------------------------------------------------------------------- -->

        <section>
            <div class="destaque">
                <p>Seu pedido em</p>
                <h2>japapou [Rua]</h2>
            </div>
            <div id="detalhes">
                <div id="detalhes-p1">
                    <div>
                        <div class="secundario">
                            <p>Subtotal</p>
                            <p class="resp">R$70</p>
                        </div>

                        <div class="secundario">
                            <p>Entrega</p>
                            <p class="resp">R$ 7.00</p>
                        </div>

                        <div class="principal">
                            <h4>Total</h4>
                            <h4 class="resp">R$77.00</h4>
                        </div>
                    </div>

                    <div class="button">
                        <div id="button-1">
                            <h4>Concluído</h4>
                        </div>
                    </div>
                </div>

                <div id="detalhes-p2">
                    <p>Ponto de referencia: descrição</p>
                    <p>
                        Complemento: [complemento], [Bairro], [Rua], [Número],
                        [Cidade], [Estado]
                    </p>
                </div>
            </div>

            <div id="detalhes-entregador">
                <div class="secundario">
                    <p>Nome</p>
                    <p class="resp">Diegooooooo</p>
                </div>
                <div class="secundario">
                    <p>Modelo</p>
                    <p class="resp">hondaaaaaaaa</p>
                </div>
                <div class="secundario">
                    <p>Cor</p>
                    <p class="resp">Vermelho</p>
                </div>
                <div class="secundario">
                    <p>Placa</p>
                    <p class="resp">frbgfwo</p>
                </div>

                <div class="button">
                    <div id="button-2">
                        <h4>Atribuir entregador</h4>
                    </div>
                </div>
                <div class="button">
                    <div id="button-3">
                        <h4>Confirmar saída para entrega</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
        <script src="{% static 'js/delivery_man/deliver.js' %}"></script>
</body>
</html>
