<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% load static %}
    <title>Rota de Entregas</title>

    <link rel="stylesheet" href="{% static 'css/delivery_man/map.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <style>
        
    </style>
</head>
<body>

    <div class="header">
        <h3>🚚 Rota do Dia</h3>
        <small id="status-qtd">Carregando mapa...</small>
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script>
        // --- PONTE ENTRE DJANGO E JAVASCRIPT ---
        // Criamos uma variável global aqui com os dados.
        const TOMTOM_KEY_ = "{{ TOMTOM_KEY }}"; 
        window.dadosEntregas = JSON.parse('{{ dados_json|safe }}');
    </script>

    <script src="{% static 'js/delivery_man/map.js' %}"></script>

</body>
</html>