#bloco-enderecos {
    opacity: 100%; /* para mudar depois no js */
    pointer-events: all; /* para mudar depois no js */

    transition: all 0.5s ease;
}

.container {
    position: relative;
    /*height: 100vh;*/
    
    div {
        /*margin-bottom: 5%;*/
    }
}


/* CSS DA PARTE DO RESUMO */
#resumo-container {
    background-color: var(--azul-mais-claro);
    border-radius: 8px;
    height: 30%;
    width: 70%;
    padding: 1% 0% 1% 0%;
    margin: 0 auto;
    margin-bottom: 5%;

    #titulo-resumo {
        background-color: var(--azul-mais-escuro);
        width: 90%;
        height: 30%;
        border-radius: 8px;
        text-align: left;
        padding-left: 1%;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    #resumo-pedido {
        width: 90%;
        height: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        #container-resumo {
            width: 45%;
            height: 100%;
            border-right: 2px solid var(--azul-mais-escuro);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;

            :nth-child(3) {
                margin-top: 15px;
            }

            div {
                display: flex;
                justify-content: space-between;
                width: 95%;
                margin: 0;
            }

        }
        a {
            align-content: center;
            background-color: var(--azul-mais-escuro);
            /*width: 10%;*/
            /*height: 5%;*/
            padding: 3px 4% 3px 4%;
            color: white;
            border-radius: 7px;
            margin-left: 22%;
            
            i {
                margin-right: 8px;
            }
        }
    }
}
/* CSS DA PARTE DO RESUMO */

/* CSS DA PARTE DO TIPO PEDIDO */
#container-tipo-pedido {
    width: 100%;
    height: 70%;
    
    form {
        height: 100%;
        width: 100%;

        .radio-group {
        margin-bottom: 2%;
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        
            label {
                cursor: pointer;
                font-size: 25px;
                border-bottom: 1px solid white;

            }

            input[type="radio"] {
                display: none; 
            }
            
            #label-retirada {
                opacity: 1;
            }
            #label-entrega {
                opacity: 1;
            }
        }

        #bloco-enderecos {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 60%;
            height: 150px;
            border: 2px solid white;
            margin: 0 auto;
            margin-bottom: 5%;

            button {
                appearance: none;
                border: none;
                border-radius: 6px;
                font-size: 20px;
                font-weight: 800;
                color: var(--azul-mais-escuro);
                background-color: white;
                height: 23%;
                padding: 0px 10px 0px 10px;
                
            }
        }

        #tipo-entrega {
            height: 25%;
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 5%;
            transition: all 0.5s ease;

            div {
                width: 35%;
                height: 100%;
                border: 2px solid white;
                border-radius: 8px;
                padding: 10px 10px 10px 10px;
                margin: 0;
                

                div {
                    border: none;
                    text-align: left;
                    padding: 0;
                    height: auto;

                    h3 {
                        margin: 0;
                    }
                    p {
                        text-align: -webkit-center;
                    }
                }

                strong {
                    width: 90%;
                    height: 45px;
                    display: block;
                    color: var(--azul-mais-escuro);
                    background-color: white;
                    border-radius: 6px;
                    margin: 0 auto;
                    margin-top: 30px;
                    align-content: center;
                }
                
            }
            
            #express-opcao {
                    opacity: 60%;

            }
        }
    }
    
}
/* CSS DA PARTE DO TIPO PEDIDO */

/* CSS DA PARTE DO METODO PAGAMENTO */
#container-metodo-pagamento{
    transition: all 0.5s ease;

    #radio-group-categoria {
        margin-bottom: 2%;
        display: flex;
        gap: 50px;

        input[type="radio"] {
            display: none; 
        }
        label {
            cursor: pointer;
            font-size: 25px;
            border-bottom: 1px solid white;
            margin: 0;
            padding-bottom: 5px;
            
        }
    }
    #mostrar-metodo-atual-online {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 150px;
        border: 2px solid white;
        margin: 0 auto;
        margin-bottom: 5%;

        button {
            appearance: none;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            font-weight: 800;
            color: var(--azul-mais-escuro);
            background-color: white;
            height: 23%;
            padding: 0px 10px 0px 10px;
        }
    }

    #mostrar-metodo-atual-local {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 150px;
        border: 2px solid white;
        margin: 0 auto;
        margin-bottom: 5%;

        button {
            appearance: none;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            font-weight: 800;
            color: var(--azul-mais-escuro);
            background-color: white;
            height: 23%;
            padding: 0px 10px 0px 10px;
        }
    }

}
/* CSS DA PARTE DO METODO PAGAMENTO */


/* MODAL DO METODO DE PAGAMENTO */
#modal-tipo-pagamento {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* MODAL DO METODO DE PAGAMENTO */

/* MODAL DE ENDEREÇOS */
#modal-enderecos {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height: 60%;
    width: 30%;
    background-color: var(--azul-mais-escuro);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}
/* MODAL DE ENDEREÇOS */

#cards-pratos {
    margin-bottom: 5%;
    display: flex;
}

    .button {
    	height: 3em;
    	display: flex;
    	justify-content: center;
    }

    .div-principal {
    	background-color: var(--azul-mais-claro);
    	width: 23vw;
    	height: 52vh;
    	position: relative;
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-end;
    	border-radius: 17px;
    	padding: 1em;
    }

    .div-principal h3,
    .div-principal p {
    	text-align: center;
    }

    .div-principal .prato > p {
    	font-size: 15px;
    	margin-bottom: 2em;
    	color: white;
    }

    .div-principal .prato {
    	color: white;
    }

    div .img-principal {
    	width: 11em;
    	height: 12em;
    	position: absolute;
    	top: -30px;
    	left: 7.3vw;
    }

    div .img-secundaria {
    	width: 72px;
    	height: 72px;
    	position: absolute;
    	top: -4vh;
    	left: 20vw;
    	font-size: 7em;
    }

    div .img-secundaria:hover {
    	color: var(--vermelho);
    }

    .detalhes {
    	display: flex;
    	justify-content: space-evenly;
    	align-items: center;
    }

    .circ-1 {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	border-radius: 100%;
    	background-color: var(--azul-mais-escuro);
    	width: 56px;
    	height: 56px;
    	text-align: center;
    	margin-right: 1em;
    }

    .circ-1 > p {
    	font-size: 32px;
    	font-weight: bold;
    	color: white;
    	margin: 0;
    	font-family: serif;
    }

    .circ-2 {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	border-radius: 100%;
    	background-color: white;
    	width: 34px;
    	height: 34px;
    	text-align: center;
    	position: absolute;
    	top: -1.2em;
    	margin-right: 1em;
    }

    .circ-2 > p {
    	font-size: 24px;
    	font-weight: bold;
    	color: var(--azul-mais-escuro);
    	margin: 0;
    }

    .circles {
    	display: flex;
    	flex-direction: column;
    	position: relative;
    	align-items: center;
    }

    .especificacao {
    	background-color: var(--azul-mais-escuro);
    	color: white;
    	width: 21vw;
    	height: 11vh;
    	border-radius: 11px;
    	margin-bottom: 1em;
    	padding: 0.3em;
    }

    .especificacao h5,
    .especificacao p {
    	text-align: center;
    }

    .especificacao p {
    	font-size: 14px;
    }

    .especificacao h5 {
    	font-size: 15px;
    	margin: 0;
    }

    .conteudo {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-evenly;
    	height: 22em;
    }

    .fa-arrow-left:hover,
    .fa-arrow-right:hover {
    	color: var(--vermelho);
    }

    .slide img {
    	width: 200px;
    	height: 300px;
    	border-radius: 10px;
    	object-fit: cover;
    	pointer-events: none;
    }