#bloco-enderecos {
    opacity: 100%; /* para mudar depois no js */
    pointer-events: all; /* para mudar depois no js */

    transition: all 0.5s ease;
}

.container {
    position: relative;
    /*height: 100vh;*/
}


/* CSS DA PARTE DO RESUMO */
#resumo-container {
    background-color: var(--azul-mais-claro);
    border-radius: 8px;
    height: 30%;
    width: 70%;
    padding: 1% 0% 1% 0%;
    margin: 0 auto;
    margin-bottom: 5%;

    #titulo-resumo {
        background-color: var(--azul-mais-escuro);
        width: 90%;
        height: 30%;
        border-radius: 8px;
        text-align: left;
        padding-left: 1%;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    #resumo-pedido {
        width: 90%;
        height: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        #container-resumo {
            width: 60%;
            height: 100%;
            border-right: 2px solid var(--azul-mais-escuro);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;

            div {
                display: flex;
                justify-content: space-between;
                width: 95%;
                margin: 0;
            }

            hr {
                width: 95%;
            }

        }
        a {
            align-content: center;
            background-color: var(--azul-mais-escuro);
            /*width: 10%;*/
            /*height: 5%;*/
            padding: 3px 4% 3px 4%;
            color: white;
            border-radius: 7px;
            margin-left: 115px;
            
            i {
                margin-right: 8px;
            }
        }
        a:hover{
            background-color: var(--laranja-mais-claro);
        }
    }
}
/* CSS DA PARTE DO RESUMO */

/* CSS DA PARTE DO TIPO PEDIDO */
#container-tipo-pedido {
    width: 100%;
    height: 70%;
    
    form {
        height: 100%;
        width: 100%;

        .radio-group {
        margin-bottom: 2%;
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        
            label {
                cursor: pointer;
                font-size: 25px;
                border-bottom: 1px solid white;

            }

            label:hover{
                color: var(--lightest-gray);
                opacity: 70%;
            }

            input[type="radio"] {
                display: none; 
            }
            
            #label-retirada {
                opacity: 1;
            }
            #label-entrega {
                opacity: 1;
            }
        }

        #bloco-enderecos {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 60%;
            height: 150px;
            border: 2px solid white;
            margin: 0 auto;
            margin-bottom: 5%;

            button {
                appearance: none;
                border: none;
                border-radius: 6px;
                font-size: 20px;
                font-weight: 800;
                color: var(--azul-mais-escuro);
                background-color: white;
                height: 23%;
                padding: 0px 10px 0px 10px;
                border: 1px solid white;
                
            }
            button:hover{
                background-color: var(--azul-mais-claro);
                color: white;
                border: 1px solid white;
            }
        }

        #tipo-entrega {
            height: 25%;
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 5%;
            transition: all 0.5s ease;

            div {
                width: 35%;
                height: 100%;
                border: 2px solid white;
                border-radius: 8px;
                padding: 10px 10px 10px 10px;
                margin: 0;
                

                div {
                    border: none;
                    text-align: left;
                    padding: 0;
                    height: auto;

                    h3 {
                        margin: 0;
                    }
                    p {
                        text-align: -webkit-center;
                    }
                }

                strong {
                    width: 90%;
                    height: 100%;
                    display: block;
                    color: var(--azul-mais-escuro);
                    background-color: white;
                    border-radius: 6px;
                    margin: 0 auto;
                    margin-top: 30px;
                    align-content: center;
                }
                
            }
            
            #express-opcao {
                    opacity: 60%;
            }
            #express-opcao:hover{
                opacity: 80%;
            }
        }
    }
    
}
/* CSS DA PARTE DO TIPO PEDIDO */




#btn-copiar-pix-final {
        appearance: none;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 800;
        color: var(--azul-mais-escuro);
        background-color: white;
        height: 23%;
        padding: 0px 10px 0px 10px;
        border: 1px solid white;
}

#btn-copiar-pix-final:hover{
    background-color: var(--azul-mais-claro);
    border: 1px solid white;
    color: white;
}
textarea#codigo-pix-area{
    background-color: var(--azul-mais-claro);
    resize: none;
    color: white;
    border: none;
    padding: 0.4em;
    border-radius: 50px
}
/* CSS DA PARTE DO METODO PAGAMENTO */
#container-metodo-pagamento{
    transition: all 0.5s ease;

    #radio-group-categoria {
        margin-bottom: 2%;
        display: flex;
        gap: 50px;

        input[type="radio"] {
            display: none; 
        }
        label {
            cursor: pointer;
            font-size: 25px;
            border-bottom: 1px solid white;
            margin: 0;
            padding-bottom: 5px;
            
        }
        label:hover{
            color: var(--lightest-gray);
        }
    }
    #mostrar-metodo-atual-online {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 150px;
        border: 2px solid white;
        margin: 0 auto;
        margin-bottom: 5%;

        button {
            appearance: none;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            font-weight: 800;
            color: var(--azul-mais-escuro);
            background-color: white;
            height: 23%;
            padding: 0px 10px 0px 10px;
            border: 1px solid white;
        }

        button:hover{
            background-color: var(--azul-mais-claro);
            color: white;
            border: 1px solid white;
        }
    }

    #mostrar-metodo-atual-local {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 150px;
        border: 2px solid white;
        margin: 0 auto;
        margin-bottom: 5%;

        button {
            appearance: none;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            font-weight: 800;
            color: var(--azul-mais-escuro);
            background-color: white;
            height: 23%;
            padding: 0px 10px 0px 10px;
        }
    }

}
/* CSS DA PARTE DO METODO PAGAMENTO */


/* MODAL DO METODO DE PAGAMENTO */
#modal-tipo-pagamento {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* MODAL DO METODO DE PAGAMENTO */

/* MODAL DE ENDEREÇOS */
#modal-enderecos {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height: 60%;
    width: 30%;
    background-color: var(--azul-mais-escuro);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}
/* MODAL DE ENDEREÇOS */



/* CSS CARDS DOS PRATOS */
#container-cards {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

    a{
        text-decoration: none;
        color: white;
    }

    .coverflow-container {
        position: relative;
        width: 90%; 
        max-width: 900px;
        height: 100%;
        perspective: 1200px;

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            z-index: 10;

            .fa-solid, .fas {
                font-weight: 900;
            }
            .fa-arrow-left {
                --fa: "\f060";
            }
            .fa-arrow-right {
                --fa: "\f061";
            }
        }
        #prev {
            left: -100px;
            
        }
        #next {
            right: -100px;
        }
    }
    .coverflow {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .slide {
        position: absolute;
        top: 50%; 
        left: 50%;
        transition: transform 0.5s ease, z-index 0.5s ease;
    }

    .div-principal {
        background-color: var(--azul-mais-claro);
        width: 23vw;
        height: 60vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 17px;
        padding: 1em;

        margin-left: 1em;
        margin-right: 1em;

        h3, p {
            text-align: center;
        }
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 22em;

        .images {
            
            .img-principal {
                width: 11em;
                height: 12em;
                position: absolute;
                top: -30px;
                left: 6.3vw;
                border-radius: 10px;
            }

            .img-secundaria {
                width: 72px;
                height: 72px;
                position: absolute;
                top: -4vh;
                left: 20vw;
                font-size: 7em;
            }

            .img-secundaria:hover {
                color: var(--vermelho);
            }
        }
    }

    .detalhes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .circles {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;

            .circ-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background-color: var(--azul-mais-escuro);
                width: 56px;
                height: 56px;
                text-align: center;
                margin-right: 1em;

                p {
                    font-size: 32px;
                    font-weight: bold;
                    color: white;
                    margin: 0;
                    font-family: serif;
                }
            }
            .circ-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                background-color: white;
                width: 34px;
                height: 34px;
                text-align: center;
                position: absolute;
                top: -1.2em;
                margin-right: 1em;

                p {
                    font-size: 24px;
                    font-weight: bold;
                    color: var(--azul-mais-escuro);
                    margin: 0;
                }
            }
        }

        .especificacao {
            background-color: var(--azul-mais-escuro);
            color: white;
            width: 21vw;
            height: 11vh;
            border-radius: 11px;
            margin-bottom: 1em;

            label {
                display: none;
            }
            textarea {
                width: 100%;
                height: 100%;
                border-radius: 11px;
                background-color: var(--azul-mais-escuro);
                border: none;
                padding: 5px;
                color: white;
                resize: none;
            }
        }
    }
}
/* CSS CARDS DOS PRATOS */


.endereco-item.selecionado:hover{
    background-color: var(--azul-mais-claro);
    cursor: pointer;
}