#bloco-enderecos {
    opacity: 100%; /* para mudar depois no js */
    pointer-events: all; /* para mudar depois no js */

    transition: all 0.5s ease;
}

.container {
    height: 100vh;
}


/* CSS DA PARTE DO RESUMO */
#resumo-container {
    background-color: var(--azul-mais-claro);
    border-radius: 8px;
    height: 30%;
    width: 70%;
    padding: 1% 0% 1% 0%;

    #titulo-resumo {
        background-color: var(--azul-mais-escuro);
        width: 90%;
        height: 30%;
        border-radius: 8px;
        text-align: left;
        padding-left: 1%;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    #resumo-pedido {
        width: 90%;
        height: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        #container-resumo {
            width: 45%;
            height: 100%;
            border-right: 2px solid var(--azul-mais-escuro);
            display: flex;
            flex-direction: column;
            justify-content: center;

            :nth-child(3) {
                margin-top: 15px;
            }

            div {
            display: flex;
            justify-content: space-between;
            width: 95%;
            }

        }
        a {
            align-content: center;
            background-color: var(--azul-mais-escuro);
            /*width: 10%;*/
            /*height: 5%;*/
            padding: 3px 4% 3px 4%;
            color: white;
            border-radius: 7px;
            margin-left: 22%;
            
            i {
                margin-right: 8px;
            }
        }
    }
}
/* CSS DA PARTE DO RESUMO */

/* CSS DA PARTE DO TIPO PEDIDO */
#container-tipo-pedido {
    width: 100%;
    height: 100%;
    
    form {
        height: 100%;
        width: 100%;

        .radio-group {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        
            label {
                cursor: pointer;
                font-size: 25px;
                border-bottom: 1px solid white;
            }

            input[type="radio"] {
                display: none; 
            }
        }

        #bloco-enderecos {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 60%;
            height: 20%;
            border: 2px solid white;

            button {
                appearance: none;
                border: none;
                border-radius: 6px;
                font-size: 20px;
                font-weight: 800;
                color: var(--azul-mais-escuro);
                background-color: white;
                height: 23%;
                padding: 0px 10px 0px 10px;
                
            }
        }

        #tipo-entrega {
            div {
                width: 35%;
                border: 2px solid white;
                border-radius: 8px;

                p {
                    font-size: 15px;
                }

                strong {
                    width: 80%;
                    color: var(--azul-mais-escuro);
                    background-color: white;
                }
            }
        }
    }
    
}
/* CSS DA PARTE DO TIPO PEDIDO */