.linha{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: space-between;
}
section{
    border: 1px solid white;
    padding: 1em;
    width: 100%;
    text-align: left;
    margin: 1em;
}
i.fa-circle-check{
    font-size: 150px;
}
h2{
    text-align: left;
    font-weight: 800;
}
#titulo-recibo{
    width: 100%;
    margin-bottom: 0em;
    margin-top: 2.5em;
}
h2{
    margin-bottom: 2em;
}
.Agradecimento{
    color: var(--light-gray);
    font-weight: 100;
    margin: 2em;
}
.Agradecimento > h3{
    margin: 0.2em;
}
.Agradecimento > p{
    margin-bottom: 1em;
}
p.direita{
    text-align: right;
    width: 50%;
}
p.esquerda{
    text-align: left;
    width: 50%;
}
.esquerda{
    text-align: left;
}
.direita{
    text-align: right;
}
.centro{
    text-align: center;
}
table{
    width: 100%;
}
.Agradecimento > p{
    width: 50%;
    margin: 0 auto !important;
    margin-bottom: 1em !important;
}
tfoot{
    background-color: white;
    color: black;
}
tfoot td{
    padding: 0.5em;
}
table td{
    padding: 1em;
}