
/* teste */

/* Botão no topo */
.container-btn-sessao {
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}

.btn-sessao {
  background: var(--laranja-mais-claro);
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.btn-sessao.teste{
  margin: 0 auto;
  margin-bottom: 2em;
  width: 25%;
  margin-top: -2%;
}
.btn-sessao.teste:hover{
  margin: 0 auto;
  margin-bottom: 2em;
  background-color: var(--azul-mais-escuro);
  margin-top: -2%;
}

.btn-sessao.teste2{
   margin: 0 auto;
  margin-top: 2em;
  width: 25%;
  margin-bottom: -2%;
  position: relative;
  z-index: 9;
}
.btn-sessao.teste2:hover{
  margin: 0 auto;
  margin-top: 2em;
  background-color: var(--azul-mais-escuro);
  margin-bottom: -2%;
}


.btn-sessao:hover{
  background: var(--azul-mais-claro);
  color: var(--laranja-mais-claro);
  border: 1px solid var(--laranja-mais-claro);
  margin: -1.2px;
}

/* GRID */
.grid-container {
    display: grid;
    padding: 0;
    /* grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 260px; */
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
            "a a b c"
            "d e e c"
            ;
}

/* Segunda linha só tem 2 imagens, então centralizar
.grid-container > :nth-child(4) {
    grid-column: 1 / 3; /* ocupa da coluna 1 até a 2} */

/* .grid-container > :nth-child(5) {
    grid-column: 2 / 4; /* ocupa da coluna 2 até a 3
} */

/* Estilo dos itens */
.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

/* Efeito de escurecer no hover */
.grid-item:hover img {
    filter: brightness(40%);
    /* background: var(--laranja-mais-claro); */
}

/* Texto no hover */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    transition: .4s;
}

.grid-item:hover .overlay {
    opacity: 1;
}

div.area-a{grid-area: a;} 
div.area-b{grid-area: b;}
div.area-c{grid-area: c;}
div.area-d{grid-area: d;}
div.area-e{grid-area: e;}

.container-sushi{
  width: 100%;
  margin-top: 20em;
  background-color: var(--azul-mais-claro);
}

.sushi-benefits {
  background: var(--azul-mais-claro);
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 65%;
}

.benefits-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 40px 40px;
  align-items: center;
  width: 85%;
  margin: auto;
}

/* Imagem central */
.center {
  grid-column: 2;
  grid-row: 1 / span 5;
  display: flex;
  justify-content: center;
}

.sushi-img {
  width: 360px;
  border-radius: 12px;
}

/* Text blocks */
.benefit {
  max-width: 280px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
}

.benefit h3 {
  font-size: 18px;
  margin-bottom: 8px;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}

/* Lado esquerdo e direito */
.left { grid-column: 1; text-align: right; }
.right { grid-column: 3; text-align: left; }

/* Posições verticais */
.top { grid-row: 1; margin-top: 2em;}
.mid-top { grid-row: 2; }
.mid-bottom { grid-row: 4; }
.bottom { grid-row: 5; }

/* Linhas */
.benefit::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 80px;
  height: 2px;
  background: #fff;
}

.left::before { right: -90px; }
.right::before { left: -90px; }

/* Responsivo */
@media (max-width: 900px) {
  .benefits-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .benefit, .center {
    text-align: center;
  }

  .benefit::before {
    display: none;
  }
}
main{
    padding: 0;
}
main {
	padding: 0;
}

.carousel {
	border-bottom: 2px solid #f97316;
	/* margin-bottom: 2%; */
	width: 100%;

	.carousel-indicators {
		[data-bs-target] {
			background-color: #f97316;
		}
	}

	.carousel-inner {
		.carousel-item {
			img {
				width: 800px;
				height: 400px;
				object-fit: cover;
				/* filter: brightness(40%); */
			}

			.carousel-caption {
				margin: 7.5%;

				h2 {
					font-family: "Playfair-Display";
					font-size: 4em;
					color: #d9b992;
				}
			}

			/* &::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to left,
					rgba(23, 23, 23, 1.7),
					rgba(255, 255, 254, 0)
				);
			} */
		}
	}

	.carousel-control-prev-icon {
		filter: invert(54%) sepia(98%) saturate(747%) hue-rotate(355deg)
			brightness(104%) contrast(101%);
	}

	.carousel-control-next-icon {
		filter: invert(54%) sepia(98%) saturate(747%) hue-rotate(355deg)
			brightness(104%) contrast(101%);
	}
}

.categoria {
	text-align: left;
	margin-bottom: 5%;
	padding: 0 2rem;
	width: 100%;

	h2 {
		margin-bottom: 100px;
		font-size: 45px;
		color: white;
	}

	.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 120px 80px;
	}
}

.product-image {
	position: absolute;
	top: -135px;
	left: 50%;
	transform: translateX(-50%);
	width: 180px;
	height: 180px;
	background-color: none;
	/*border: 1px solid black;*/
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;

	img {
		border-radius: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.product-card {
	position: relative;
	width: 270px;
	height: 300px;
	background-color: var(--azul-mais-claro);
	border-radius: 25px;
	padding: 20px;
	padding-top: 80px;
	text-align: center;
	color: white;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

	.action-button {
		position: absolute;
		bottom: -15px;
		width: 50px;
		height: 50px;
		background-color: var(--laranja-mais-claro);
		border: 1px solid black;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.1);
		}
	}

	.delete-button {
		left: -15px;
	}

	.edit-button {
		right: -15px;
	}

	.img-estrela {
		position: relative;
		width: 100%;
		height: 60%;

		.estrelas {
			position: absolute;
			top: -50%;
			left: -15%;

			.curved-stars-container {
				position: relative;
				width: 300px;
				height: 150px;
				display: flex;
				justify-content: center;
				align-items: center;

				.star {
					position: absolute;
					font-size: 30px;
					/*color:var(--lighter-gray);*/
					color: #FFD700;

					&:nth-child(1) {
						transform: translate(-58px, 6px) rotate(0deg);
					}
					&:nth-child(2) {
						transform: translate(-30px, 20px) rotate(0deg);
					}
					&:nth-child(3) {
						transform: translate(0px, 27px);
					}
					&:nth-child(4) {
						transform: translate(30px, 20px) rotate(0deg);
					}
					&:nth-child(5) {
						transform: translate(58px, 6px) rotate(0deg);
					}
				}
			}
		}
	}

	.card-body {
		margin-top: -35%;

		.product-name {
			font-size: 20px;
			font-weight: 700;
			margin-top: 45px;
			margin-bottom: 1px;
		}

		.product-description {
			font-size: 12px;
			margin-bottom: 5px;
		}

		.remove-button {
			background-color: var(--light-yellow);
			color: black;
			border: 1px solid black;
			border-radius: 15px;
			padding: 5px 30px;
			font-size: 10px;
			cursor: pointer;
			transition: transform 0.2s;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.product-price {
		position: absolute;
		width: 60%;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--laranja-mais-claro);
		color: white;
		border: 1px solid black;
		border-radius: 10px;
		padding: 3px 20px;
		font-size: 20px;
		font-weight: 700;

		p {
			color: black;
			margin: 0;
		}
	}
}

.data-cardapio {
	display: flex;
	justify-content: space-around;
	background-color: black;
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
	align-items: center;
	

	#period-form {
		width: 18%;
		height: 55%;

		select {
			font-size: 14px;
		}
	}
	div p {
		display: flex;
		align-items: center; 
	}

	.novo-cardapio {
		border: 1px solid white;
		color: white;
		border-radius: 30px;
		
	}

	button {
		border: none;
		background-color: black;
		margin-bottom: 0px;
		padding: 0;
		width: 8%;
		height: 55%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.material-symbols-outlined {
		color: #f97316;
		font-size: 30px;
		cursor: pointer;
	}
	form {
		width: 16%;
		height: 55%;

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid white;
			color: #f97316;
			border-radius: 30px;
			width: 100%;
			height: 100%;
			}
		label {
			margin: 0;
			margin-right: 5px;
			font-size: 20px;
		}
	}
	form select {
		background-color: none;
		border: none;
		font-size: 15px;
	}
}

dialog {
	z-index: 100;

	h2 {
		color: white;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.6);
	}

	button {
		background-color: #f23e2f;
		border: 2px solid black;
		border-radius: 15px;
		width: 40%;
		height: 7%;
		margin-top: 5%;
	}
}

form {
	width: 100%;
	height: 80%;

	button {
		background-color: var(--laranja-mais-claro);
		border: 2px solid black;
		border-radius: 15px;
		width: 40%;
		height: 7%;
		margin-top: 5%;
	}

	#inputs-datas {
		width: 100%;
		height: 20%;
		display: flex;
		justify-content: space-between;

		div {
			text-align: left;
			width: 40%;
			height: 100%;
			padding: 0;
		}
	}

	input {
		background-color: var(--azul-mais-claro);
		border: 1px solid white;
		border-radius: 6px;
		height: 25%;
		width: 100%;
		padding: 5px 0px 5px 10px;
	}

	label {
		font-size: 24px;
		color: white;
		margin-bottom: 10px;
	}
}

#novo-cardapio {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	margin: 0;
	width: 35%;
	padding: 15px 30px 0px 30px;
	height: 72%;
	background-color: #024057;
	border: 1px solid white;
	border-radius: 20px;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.6);
	}

	h2 {
		color: white;
	}
	form #name-menu{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	form #id_name {
		width: 60%;
		border: 2px solid white;
		color: white;
    	border-radius: 8px;
	}
}

#novo-cardapio #div-pratos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4%;
	background-color: var(--azul-mais-escuro);
	padding: 20px 0px 20px 0px;
	width: 100%;
	height: 70%;
	border: 2px solid white;
	border-radius: 8px;

	div {
		display: flex;
		align-items: flex-end;
		/* align-items: center;
		gap: 1%;
		height: 5%; */

		label {
			font-size: 14px;
			color: white;
			width: 100px;
			margin: 0; 
		}

		input[type="checkbox"] {
			all: unset;
			border: 1px solid white;
			border-radius: 1px;
			background-color: transparent;
			width: 20px;
			height: 20px;
		}

		input[type="checkbox"]:checked {
			background-color: green;
		}
	}
}

#novo-prato {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 50%;
	height: 45%;
	border: none;
	background-color: transparent;

	#div-novo-prato {
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 100%;
		background-color: transparent;
		cursor: pointer;

		div {
			background-color: #f97316;
			width: 40%;
			height: 100%;
			border-radius: 15px;
			padding: 20px 25px 0px 25px;
			place-items: center;

			> div {
				padding: 0px;
				width: 200px;
				height: 200px;
				background-color: #f97316;
				border: 2px solid black;
				border-radius: 0;
				margin-bottom: 12%;
			}

			button {
				padding: 0px;
				width: 200px;
				height: 200px;
				background-color: #f97316;
				border: 2px solid black;
				border-radius: 0;
				margin-bottom: 12%;
			}

			h2 {
				font-size: 25px;
				font-weight: bold;
				color: black;
			}

			p {
				font-size: 13px;
				color: black;
			}

			a {
				width: 100%;
				height: 100%;
				text-decoration: none;
			}
		}
	}
}

/* #pratos-registrados {
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	margin: 0;
	width: 30%;
	height: 75%;
	padding: 15px 20px 20px 20px;
	background-color: #024057;
	border: 1px solid white;
	border-radius: 20px;
	place-items: center;

	h2 {
		font-size: 36px;
		margin-bottom: 15px;
	}

	button {
		width: 40%;
		height: 6%;
		margin-top: 5%;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5%;
		background-color: var();
		padding: 25px 0px 45px 0px;
		width: 95%;
		height: 70%;
		border: 2px solid black;
		border-radius: 8px;

		div {
			display: flex;
			align-items: center;
			gap: 1%;
			height: 5%;
		}

		label {
			font-size: 15px;
			color: black;
			width: 100px;
			margin: 0;
		}

		input {
			width: 15px;
		}

		input[type="checkbox"] {
			all: unset;
			border: 1px solid black;
			border-radius: 1px;
			background-color: transparent;
			width: 20px;
			height: 20px;

			&:checked {
				background-color: green;
			}
		}
	}
} */

#criar-prato {
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	margin: 0;
	width: 30%;
	height: 90%;
	padding: 15px 40px 20px 40px;
	background-color: var(--azul-mais-escuro);
	border: 1px solid white;
	border-radius: 20px;
	place-items: center;

	form {
		place-items: center;
	}

	form #image-file {
		background-color: var(--laranja-mais-claro);
		width: 35%;
		height: 25%;
	}

	form div {
		text-align: left;
		width: 100%;
	}
	form .criar-prato-menus{
		display: flex;
		flex-direction: column;
	}

	form div textarea {
		background-color: var(--azul-mais-claro);
		width: 100%;
	}

	form div label {
		margin: 0;
		font-size: 17px;
	}

	form div input {
		margin-bottom: 15px;
	}

	form label {
		margin: 0;
	}

	form #image-file label {
		color: white;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		margin: 0;
		padding: 0px 0px 0px 0px;
		width: 100%;
		height: 100%;
	}

	form label p {
		margin: 0;
	}

	form label .material-symbols-outlined {
		font-size: 60px;
		margin: 25px 0px 0px 0px;
	}

	form input[type="file"] {
		display: none;
	}

	button {
		background-color: var(--laranja-mais-claro);
		border: 2px solid black;
		border-radius: 12px;
		width: 110%;
		height: 6%;
		margin-top: 5%;
	}
}

#editar-prato {
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	margin: 0;
	width: 30%;
	height: 90%;
	padding: 15px 40px 20px 40px;
	background-color: var(--azul-mais-escuro);
	border: 1px solid white;
	border-radius: 20px;
	place-items: center;

	form {
		place-items: center;
		position: relative;
	}

	form #image-file-edit {
		background-color: var(--azul-mais-claro);
		width: 35%;
		height: 25%;
	}

	form div {
		text-align: left;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}
	form .criar-prato-menus{
		display: flex;
		flex-direction: column;
		margin-top: 1%;
	}

	form div textarea {
		background-color: var(--azul-mais-claro);
		width: 100%;
		color: white;
	}

	form div label {
		margin: 0;
		font-size: 17px;
	}

	form div input {
		margin-bottom: 15px;
		color: white;
		background-color: var(--azul-mais-claro);
	}

	form label {
		margin: 0;
	}
	form #label-image {
		position: absolute;
		top: 10%;
        left: 44%;
		color: transparent;
	}

	form #image-file-edit label {
		color: black;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		margin: 0;
		padding: 0px 0px 0px 0px;
		width: 100%;
		height: 100%;
	}

	form label p {
		margin: 0;
	}

	form label .material-symbols-outlined {
		font-size: 60px;
		
	}

	form input[type="file"] {
		display: none;
	}

	button {
		background-color: var(--laranja-mais-claro);
		border: 2px solid black;
		border-radius: 12px;
		width: 110%;
		height: 6%;
		margin-top: 5%;
	}
}

#excluir-prato {
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	margin: 0;
	width: 30%;
	height: 21%;
	padding: 15px 40px 20px 40px;
	background-color: var(--azul-mais-escuro);
	border: 1px solid white;
	border-radius: 20px;
	place-items: center;
	
	form {
		place-items: center;
		height: 0%;
	}
	p {
		color: white;
	}

	form div {
		text-align: center;
		width: 100%;
		
	}

	button {
		background-color: var(--laranja-mais-claro);
		border: 2px solid black;
		border-radius: 12px;
		width: 40%;
		height: 6%;
		margin-top: 5%;
	}
}

.product-card-branco {
	position: relative;
	width: 270px;
	height: 300px;
	background-color: var(--azul-mais-claro);
	border-radius: 25px;
	padding: 20px;
	padding-top: 80px;
	text-align: center;
	color: black;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

	.img-estrela {
		height: 0;

		.product-image {
			border-radius: 50%;
			background-color: var(--azul-mais-claro);
			border: none;
			top: -55px;

			> img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
				background-color: var(--azul-mais-claro);
			}
		}
	}

	button {
		background-color: transparent;
		border: none;
	}

	.material-symbols-outlined {
		font-size: 100px;
		margin-top: 20%;
	}
}

.img-estrela .estrelas .curved-stars-container .star.star-inactive {
  color: #b0b0b0; /* Cor cinza claro para estrela inativa */
  /* Outra opção: 
     color: #e0e0e0; (um cinza bem suave)
  */
}

/* 2. Define a cor para as estrelas INATIVAS */
/* Quando o JS adicionar a classe .star-inactive, esta
   regra terá prioridade e mudará a cor da estrela */
.estrelas .star.star-inactive {
  color: #b0b0b0; /* Cor cinza claro para estrela inativa */
  /* Outra opção: 
     color: #e0e0e0; (um cinza bem suave)
  */
}
