body { 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    font-family: sans-serif; 
}
        
.header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

#map { 
    flex-grow: 1; 
    width: 100%;
}
/* Estilo do controle de camadas */
.leaflet-control-layers { 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}