{% extends 'base.html' %}
{% load static %}
{% block title %}
  Confirmar Entrega
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/manager/assign_delivery.css' %}" />
{% endblock %}

{% block content %}
  <div>
    <div class="coverflow-container">
      <div class="coverflow">
        <div class="slide">
          <div class="div-principal">
            <div class="conteudo">
              <div class="images">
                <img class="img-principal" src="{% static 'imgs/manager/orders/img_jap1.png' %}" alt="" />
                <!-- <img class="img-secundaria" src="{% static 'imgs/manager/orders/imagem_sec.png' %}" alt="" /> -->
                <i class="fa-regular fa-heart img-secundaria"></i>
              </div>
              <div class="prato">
                <h3>1x Lamen com Gyoza</h3>
                <p>Macarrão instantâneo bem cozido, folhas verdes (como bok choy ou acelga), cogumelos salteados, cebolinha e gyozas cozidos no vapor ou levemente grelhados, além de molho aromático, sementes de gergelim preto.</p>
              </div>

              <div class="detalhes">
                <div class="circles">
                  <div class="circ-2">
                    <p>$</p>
                  </div>
                  <div class="circ-1">
                    <p>69</p>
                  </div>
                </div>
                <div class="especificacao">
                  <h5>Especificações</h5>
                  <p>Tirar cogumelos, colocar gyozas grelhados em vez de cozidos, sem cebolinha e molho à parte (não misturar no caldo).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="div-principal">
            <div class="test">
              <div class="images">
                <img class="img-principal" src="{% static 'imgs/manager/orders/img_jap2.png' %}" alt="" />
                <!-- <img class="img-secundaria" src="{% static 'imgs/manager/orders/imagem_sec.png' %}" alt="" /> -->
                <i class="fa-regular fa-heart img-secundaria"></i>
              </div>
              <div class="prato">
                <h3>Comida</h3>
                <p>Macarrão instantâneo bem cozido, folhas verdes (como bok choy ou acelga), cogumelos salteados, cebolinha e gyozas cozidos no vapor ou levemente grelhados, além de molho aromático, sementes de gergelim preto.</p>
              </div>

              <div class="detalhes">
                <div class="circles">
                  <div class="circ-2">
                    <p>$</p>
                  </div>
                  <div class="circ-1">
                    <p>69</p>
                  </div>
                </div>
                <div class="especificacao">
                  <h5>Especificações</h5>
                  <p>Tirar cogumelos, colocar gyozas grelhados em vez de cozidos, sem cebolinha e molho à parte (não misturar no caldo).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="div-principal">
            <div class="test">
              <div class="images">
                <img class="img-principal" src="{% static 'imgs/manager/orders/img_jap3.png' %}" alt="" />
                <!-- <img class="img-secundaria" src="{% static 'imgs/manager/orders/imagem_sec.png' %}" alt="" /> -->
                <i class="fa-regular fa-heart img-secundaria"></i>
              </div>
              <div class="prato">
                <h3>1x Lamen com Gyoza</h3>
                <p>Macarrão instantâneo bem cozido, folhas verdes (como bok choy ou acelga), cogumelos salteados, cebolinha e gyozas cozidos no vapor ou levemente grelhados, além de molho aromático, sementes de gergelim preto.</p>
              </div>

              <div class="detalhes">
                <div class="circles">
                  <div class="circ-2">
                    <p>$</p>
                  </div>
                  <div class="circ-1">
                    <p>69</p>
                  </div>
                </div>
                <div class="especificacao">
                  <h5>Especificações</h5>
                  <p>Tirar cogumelos, colocar gyozas grelhados em vez de cozidos, sem cebolinha e molho à parte (não misturar no caldo).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="div-principal">
            <div class="test">
              <div class="images">
                <img class="img-principal" src="{% static 'imgs/manager/orders/img_jap4.png' %}" alt="" />
                <!-- <img class="img-secundaria" src="{% static 'imgs/manager/orders/imagem_sec.png' %}" alt="" /> -->
                <i class="fa-regular fa-heart img-secundaria"></i>
              </div>
              <div class="prato">
                <h3>1x Lamen com Gyoza</h3>
                <p>Macarrão instantâneo bem cozido, folhas verdes (como bok choy ou acelga), cogumelos salteados, cebolinha e gyozas cozidos no vapor ou levemente grelhados, além de molho aromático, sementes de gergelim preto.</p>
              </div>

              <div class="detalhes">
                <div class="circles">
                  <div class="circ-2">
                    <p>$</p>
                  </div>
                  <div class="circ-1">
                    <p>69</p>
                  </div>
                </div>
                <div class="especificacao">
                  <h5>Especificações</h5>
                  <p>Tirar cogumelos, colocar gyozas grelhados em vez de cozidos, sem cebolinha e molho à parte (não misturar no caldo).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="div-principal">
            <div class="test">
              <div class="images">
                <img class="img-principal" src="{% static 'imgs/manager/orders/img_jap5.png' %}" alt="" />
                <!-- <img class="img-secundaria" src="{% static 'imgs/manager/orders/imagem_sec.png' %}" alt="" /> -->
                <i class="fa-regular fa-heart img-secundaria"></i>
              </div>
              <div class="prato">
                <h3>1x Lamen com Gyoza</h3>
                <p>Macarrão instantâneo bem cozido, folhas verdes (como bok choy ou acelga), cogumelos salteados, cebolinha e gyozas cozidos no vapor ou levemente grelhados, além de molho aromático, sementes de gergelim preto.</p>
              </div>

              <div class="detalhes">
                <div class="circles">
                  <div class="circ-2">
                    <p>$</p>
                  </div>
                  <div class="circ-1">
                    <p>69</p>
                  </div>
                </div>
                <div class="especificacao">
                  <h5>Especificações</h5>
                  <p>Tirar cogumelos, colocar gyozas grelhados em vez de cozidos, sem cebolinha e molho à parte (não misturar no caldo).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="prev"><i class="fa-solid fa-arrow-left"></i></button>
      <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>

  <section>
    <div class="destaque">
      <p>Seu pedido em</p>
      <h2>japapou</h2>
    </div>
    <div id="detalhes">
      <div id="detalhes-p1">
        <div>
          <div class="secundario">
            <p>Subtotal</p>
            <p class="resp">R$70</p>
          </div>

          <div class="secundario">
            <p>Entrega</p>
            <p class="resp">R$ 7.00</p>
          </div>

          <div class="principal">
            <h4>Total</h4>
            <h4 class="resp">R$77.00</h4>
          </div>
        </div>

        <div class="button">
          <div id="button-1">
            <h4>Concluído</h4>
          </div>
        </div>
      </div>

      <div id="detalhes-p2">
        <p>{{ user.endereco }}</p>
      </div>
    </div>

    <div id="detalhes-entregador">
      <div class="secundario">
        <p>Nome</p>
        <p class="resp">Diegooooooo</p>
      </div>
      <div class="secundario">
        <p>Modelo</p>
        <p class="resp">hondaaaaaaaa</p>
      </div>
      <div class="secundario">
        <p>Cor</p>
        <p class="resp">Vermelho</p>
      </div>
      <div class="secundario">
        <p>Placa</p>
        <p class="resp">frbgfwo</p>
      </div>

      <div class="button">
        <div id="button-2">
          <h4>Atribuir entregador</h4>
        </div>
      </div>
      <div class="button">
        <div id="button-3">
          <h4>Confirmar saída para entrega</h4>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/manager/assign_delivery.js' %}"></script>
{% endblock %}
