{% extends 'base.html' %}
{% load static %}

{% block title %}
  Gerenciar Entregadores
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/manager/manage_delivery_men.css' %}" />
{% endblock %}

{% block content %}
  <h1>Entregadores</h1>

  <div class="entregadores">
    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_1.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Bill Wilkins</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_2.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Laura Moody</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_3.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Amy Lee</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_4.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Leah Hunt</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_5.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Donald Vasquez</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_6.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Kathryn Lyons</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_7.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Georgie Weber</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_8.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Cynthia Craig</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <article class="card">
      <div class="photo">
        <img src="{% static 'imgs/delivery_man/person_9.jpeg' %}" alt="Entregador" />
      </div>
      <h2>Millie Hernandez</h2>
      <div class="rating">
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </div>
      <div class="actions">
        <button>Excluir</button><button>Editar</button>
      </div>
    </article>

    <div class="add-card">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
{% endblock %}
