{% extends "base.html" %}
{% load static %}

{% block title %}Gerenciar Menu{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/manager/manager_menu.css' %}" />

{% endblock extra_head %}

{% block content %}
    <body>

        <section class="carrossel">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://images.virgula.me/2012/10/04/370005.jpg" class="d-block w-100" alt="imagem de um brownie de chocolate">
                            <div class="carousel-caption">
                               
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://conteudo.imguol.com.br/2012/10/04/neymar-veste-uma-fantasia-de-super-heroi-para-um-comercial-da-marca-de-sorvetes-kibon-1349359868566_615x300.jpg" class="d-block w-100" alt="imagem de doces diversos">
                            <div class="carousel-caption">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://lncimg.lance.com.br/uploads/2017/02/24/58b00bf94de20.jpeg" class="d-block w-100" alt="imagem de um cheesecake de chocolate">
                            <div class="carousel-caption">
                                
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon seta-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
                
            </section>


        <div class="data-cardapio">
            <p>01/06/2025 ~ 07/06/2025</p>
            <button onclick="document.getElementById('novo-cardapio').showModal()"><p>+ novo cardapio</p></button>
        </div>
        
        <section class="categoria-1">
            <h2>Categoria 1</h2>
            <div class="cards">
                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

            </div> <!-- div cards-->
        </body>
    </section>

    <section class="categoria-1">
            <h2>Categoria 2</h2>
            <div class="cards">
                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>

                <div class="product-card">
                    <button class="action-button delete-button" aria-label="Deletar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <button class="action-button edit-button" aria-label="Editar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </button>
                    <div class="img-estrela">
                        <div class="product-image">
                            <img src="https://s2.glbimg.com/5D3cttbosROUhkdyhNU7Ank3FmM=/0x0:1999x1260/690x435/s.glbimg.com/es/ge/f/original/2014/05/08/baggio-1994-ap.jpg" alt="imagem do baggio">
                        </div>
                        <div class="estrela-1"></div>
                        <div class="estrela-2"></div>
                        <div class="estrela-3"></div>
                        <div class="estrela-4"></div>
                        <div class="estrela-5"></div>
                        <div class="estrela-6"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="product-name">Nome do Produto</h2>
                        <p class="product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
                        </p>
                        <button class="remove-button">REMOVER</button>
                    </div>
                    <div class="product-price">
                        <p>R$ 40,00</p>
                    </div>
                </div>
                
                
                <!-- CARDS EM BRANCO -->
                <div class="product-card-branco">
                    <div class="img-estrela">
                        <div class="product-image"></div>
                    </div>
                    <button onclick="document.getElementById('novo-prato').showModal()"><span class="material-symbols-outlined">+</span></button>
                </div>
                <!-- CARDS EM BRANCO -->

            </div> <!-- div cards-->
        </body>
    </section>

    <!-- MODALS -->

    <dialog id="novo-cardapio">
        <h2>Novo Cardápio</h2>
        <form>
            <div id="inputs-datas">
                <div>
                    <label for="data-inicio">Inicio</label><br>
                    <input type="datetime" id="data-inicio" name="data-inicio" placeholder="dd/mm/aaaa">
                </div>
                <div>
                    <label for="data-fim">Fim</label><br>
                    <input type="datetime" id="data-fim" name="data-fim" placeholder="dd/mm/aaaa">
                </div>
            </div>
            <div id="div-pratos">
                <label for="pratos">Pratos</label>
                <textarea name="pratos" id="pratos" rows="13" cols="33">
                </textarea>
            </div>
            <button onclick="document.getElementById('novo-cardapio').close()">+ Adicionar o Menu</button>
        </form>
    </dialog>

    <dialog id="novo-prato">
        <div id="div-novo-prato">
            <div>
                <button id="addpratoexistentbtn">Icone</button>
                <h2>Adicionar um Já Existente</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
            </div>
            <diV>
                <button id="addnovopratobtn">Icone</button>
                <h2>Adicionar um Novo Prato</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</p>
            </div>
        </div>
        <!--<button onclick="document.getElementById('novo-prato').close()">fechar modal</button>-->
    </dialog>

    <dialog id="pratos-registrados">
        <h2>Pratos já Registrados no Sistema</h2>
        <form>
            <div>
            <input type="checkbox" id="prato-1" name="prato-1">
            <label for="prato-1">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-2" name="prato-2">
            <label for="prato-2">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-3" name="prato-3">
            <label for="prato-3">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-4" name="prato-4">
            <label for="prato-4">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-5" name="prato-5">
            <label for="prato-5">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-6" name="prato-6">
            <label for="prato-6">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-7" name="prato-7">
            <label for="prato-7">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-8" name="prato-8">
            <label for="prato-8">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-9" name="prato-9">
            <label for="prato-9">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-10" name="prato-10">
            <label for="prato-10">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-11" name="prato-11">
            <label for="prato-11">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-12" name="prato-12">
            <label for="prato-12">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-13" name="prato-13">
            <label for="prato-13">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-14" name="prato-14">
            <label for="prato-14">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-15" name="prato-15">
            <label for="prato-15">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-16" name="prato-16">
            <label for="prato-16">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-17" name="prato-17">
            <label for="prato-17">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-18" name="prato-18">
            <label for="prato-18">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-19" name="prato-19">
            <label for="prato-19">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-20" name="prato-20">
            <label for="prato-20">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-21" name="prato-21">
            <label for="prato-21">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-22" name="prato-22">
            <label for="prato-22">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-23" name="prato-23">
            <label for="prato-23">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-24" name="prato-24">
            <label for="prato-24">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-25" name="prato-25">
            <label for="prato-25">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-26" name="prato-26">
            <label for="prato-26">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-27" name="prato-27">
            <label for="prato-27">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-28" name="prato-28">
            <label for="prato-28">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-29" name="prato-29">
            <label for="prato-29">Lorem Ipsum</label>
        </div>
        <div>
            <input type="checkbox" id="prato-30" name="prato-30">
            <label for="prato-30">Lorem Ipsum</label>
        </div>

        </form>
        <button onclick="document.getElementById('pratos-registrados').close()">+ Adicionar ao Menu</button>
    </dialog>
    <dialog id="criar-prato">
        <h2>Criar Novo Prato</h2>
        <form>
            <div id="image-file">
                <input type="file" id="upload-arquivo" accept="image/png, image/jpeg">
                <label for="upload-arquivo">
                    <p class="material-symbols-outlined">image_arrow_up</p>
                    <p>Faça o upload da foto do produto com fundo transparente</p>
                </label>
            </div>
            <div>
                <label for="nome">Nome</label><br>
                <input type="text" id="nome" name="nome" placeholder="Nome do Produto">
            </div>
            <div>
                <label for="preco">Preço</label><br>
                <input type="number" id="preco" name="preco" placeholder="R$ 00,00">
            </div>
            <div>
                <label for="descricao">Descrição</label><br>
                <textarea name="descicao" id="descricao" rows="8"></textarea>
            </div>
        </form>
        <button onclick="document.getElementById('criar-prato').close()">+ Adicionar ao Menu</button>
    </dialog>

    <!-- MODALS -->

{% endblock content %}

{% block scripts %}<script src="{% static 'js/manager/manage_menu.js' %}"></script>{% endblock scripts %}