{% extends 'base.html' %}
{% load static %}

{% block title %}
Gerenciar Entregadores
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/manager/manage_delivery_man.css' %}" />
{% endblock %}

{% block content %}
<h1>Entregadores</h1>

<div class="entregadores">
    {% for entregador in entregadores %}
    <article class="card">
        <div class="photo">
            {% if entregador.foto_perfil %}
                <img src="{{ entregador.foto_perfil.url }}" alt="{{ entregador.first_name }}">
            {% else %}
                <img src="{% static 'imgs/delivery_man/default.jpg' %}" alt="Entregador">
            {% endif %}
        </div>

        <h2>{{ entregador.first_name }} {{ entregador.last_name }}</h2>

        <div class="rating">
            {% for i in "12345" %}
                <i class="fa-solid fa-star"></i>
            {% endfor %}
        </div>

        <div class="actions">
            <a href="{% url 'edit_delivery_man' entregador.id %}" class="btn-edit">
                <button>Editar</button>
            </a>

            <form method="POST" action="{% url 'delete_delivery_man' entregador.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Excluir</button>
            </form>
        </div>
    </article>
    {% endfor %}

    <div class="add-card">
        <a href="{% url 'register_delivery_man' %}"><i class="fa-solid fa-plus"></i></a>
    </div>
</div>
{% endblock %}
