{% extends 'base.html' %}
{% load static %}

{% block title %}
  Gerenciar Entregadores
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/manager/manage_delivery_men.css' %}" />
{% endblock %}

{% block content %}
  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <article class="card">
    <div class="photo">
      <span>foto do entregador</span>
    </div>
    <h2>[Primeiro nome do Entregador]</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="actions">
      <button>Excluir</button><button>Editar</button>
    </div>
  </article>

  <div class="add-card">
    <i class="fa-solid fa-plus"></i>
  </div>
{% endblock %}
