{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <h1>Cadastrar Entregador</h1>
    <div>
        <h3>Informações Pessoais</h3>

        <label for="id_fist_name">Primeiro Nome:</label>
        {{ form.first_name }}
        <label for="id_last_name">Sobrenome:</label>
        {{ form.last_name }}<br>

        <label for="id_username">Username:</label>
        {{ form.username }}<br>

        <label for="id_email">Email:</label>
        {{ form.email }}<br>

        <label for="id_password">Password:</label>
        {{ form.password }}<br>

        <label for="id_telefone">Telefone:</label>
        {{ form.telefone }}<br>

        <label for="id_cpf">CPF:</label>
        {{ form.cpf }}<br>

        <label for="id_data_nascimento">Data de Nascimento:</label>
        {{ form.data_nascimento}}<br>

        <label for="id_cnh">CNH:</label>
        {{ form.cnh }}<br>

    </div>

    <hr>

    <div>
        <h3>Informações do Veículo</h3>
        <label for="id_modelo_moto">Modelo da Moto:</label>
        {{ form.modelo_moto }}<br>

        <label for="id_placa_moto">Placa da Moto:</label>
        {{ form.Placa_moto }}<br>

        <label for="id_cor_moto">Cor da Moto:</label>
        {{ form.cor_moto }}
    </div>

    <button type="submit">Cadastrar</button>
</form>
{% endblock content %}