main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--azul-mais-escuro);
	row-gap: 5em;
	width: 100%;
	height: 100%;
}

main > div {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.coverflow-container {
	position: relative;
	width: 90%;
	max-width: 700px;
	perspective: 1200px;
}

.coverflow {
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
}

.slide {
	position: absolute;
	transition: transform 0.5s ease, z-index 0.5s ease;
}

.slide img {
	width: 200px;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
	pointer-events: none;
}

button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	z-index: 10;
}

#prev {
	img {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}

	left: -600px;
}
#next {
	right: -600px;
}

.destaque {
	background-color: var(--azul-mais-escuro);
	border-radius: 11px;
	height: 85px;
	width: 1079px;
	margin: 1em;
	margin-left: 45px;
	display: flex;
	justify-content: center;
	flex-direction: column;

	p,
	h2 {
		color: white;
		margin: 0;
	}

	p {
		margin-left: 2.9em;
	}

	h2 {
		font-size: 36px;
		margin-left: 1.2em;
		font-weight: bold;
	}
}

.resp {
	text-align: end;
}

.secundario {
	color: white;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	height: 1.5em;
}

.principal {
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	height: 3em;
	margin-top: 2em;
}

section {
	background-color:var(--azul-mais-claro);
	width: 1170px;
	height: 788px;
	border-radius: 11px;
	display: flex;
	flex-direction: column;
}

#detalhes {
	display: flex;
	height: 300px;
	padding-top: 1em;
	padding-bottom: 1em;
	gap: 4em;
	border-bottom-style: solid;
	border-color: var(--azul-mais-escuro);;
	justify-content: center;
}

#detalhes-p1 {
	width: 450px;
	height: 250px;
	border-right-style: solid;
	border-color: var(--azul-mais-escuro);;
	font-weight: bold;
	padding-right: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

#detalhes-p2 {
	width: 450px;
	height: 250px;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

#button-1 {
	background-color: var(--azul-mais-escuro);
	width: 220px;
	text-align: center;
	height: 49px;
	border-radius: 9px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	h4 {
		font-size: 24px;
		margin: 0;
		color: white;
	}
}

#button-1:hover {
	background-color: var(--vermelho);
}

.assign-delivery-btn {
	background-color: var(--azul-mais-escuro);
	width: 327px;
	text-align: center;
	height: 49px;
	border-radius: 9px;
	margin: 1.4em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	h4 {
		font-size: 24px;
		margin: 0;
		color: white;
	}
}

.assign-delivery-btn:hover {
	background-color: var(--vermelho);
}

#button-3 {
	background-color: white;
	width: 443px;
	text-align: center;
	height: 49px;
	border-radius: 9px;
	margin: 2.8em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	h4 {
		font-size: 24px;
		margin: 0;
		color: black;
	}
}

#button-3:hover {
	background-color: var(--vermelho);

	h4 {
		color: white;
	}
}

.button {
	height: 3em;
	display: flex;
	justify-content: center;
}

#detalhes-entregador {
	margin-left: 1.9em;
	margin-right: 1.9em;
	margin-top: 1.5em;
	p:nth-child(odd) {
		font-weight: bold;
	}
}

.div-principal {
	background-color: var(--azul-mais-claro);
	width: 23vw;
	height: 52vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 17px;
	padding: 1em;

	h3 {
		text-align: center;
	}

	p {
		text-align: center;
	}

	div > h3 {
		font-size: 36px;
	}

	.prato > p {
		font-size: 15px;
		margin-bottom: 2em;
	}

	.prato {
		color: white;
	}
}

div .img-principal {
	width: 11em;
	height: 12em;
	position: absolute;
	top: -30px;
	left: 7.3vw;
}

div .img-secundaria {
	width: 72px;
	height: 72px;
	position: absolute;
	top: -4vh;
	left: 20vw;
	font-size: 7em
}
div .img-secundaria:hover {
	color: var(--vermelho);
}

.detalhes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.circ-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--azul-mais-escuro);
	width: 56px;
	height: 56px;
	text-align: center;
	margin-right: 1em;
}

.circ-1 > p {
	font-size: 32px;
	font-weight: bold;
	color: white;
	margin: 0;
	font-family: serif;
}

.circ-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: white;
	width: 34px;
	height: 34px;
	text-align: center;
	position: absolute;
	top: -1.2em;
	margin-right: 1em;
}

.circ-2 > p {
	font-size: 24px;
	font-weight: bold;
	color: var(--azul-mais-escuro);
	margin: 0;
}

.circles {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.especificacao {
	background-color: var(--azul-mais-escuro);
	color: white;
	width: 14em;
	border-radius: 11px;
	margin-bottom: 1em;
	width: 21vw;
	height: 11vh;
	padding: 0.3em;

	h5,
	p {
		text-align: center;
	}
	p {
		font-size: 14px;
	}
	h5 {
		font-size: 15px;
		margin: 0;
	}
}

.conteudo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 22em;
}

.fa-arrow-left:hover {
	color: var(--vermelho);
}
.fa-arrow-right:hover{
	color: var(--vermelho);
}
#button-3.confirmed {
  background-color: #3bb33b;
  cursor: default;
  pointer-events: none; /* impede qualquer clique */
  padding: 2.6em;
  padding-inline: 0;
  transition: all 0.3s ease;
}

#button-3.confirmed h4 {
  color: white;
}



.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--azul-mais-escuro);
  margin: 10% auto;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  /* height: 50vh; */
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.modal-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  padding-top: 3em;
}

/* Container que ocupa o espaço entre título e botão */
#deliveryManList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: auto;
}

#deliveryManList li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20vh;
  margin-top: 1em;
  padding-inline-start: 2em;
  overflow-y: auto; /* scroll se necessário */
}

#assignDeliveryManBtn {
  width: 90%;
  padding: 10px 0;
  background-color: var(--azul-mais-claro);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 12vh;
  flex-shrink: 0; /* não encolhe */
  align-self: center
}

#assignDeliveryManBtn:hover {
  background-color: var(--vermelho);
  color: white;
}