{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block extra_head%} {% endblock extra_head %}
{% block styles%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<!-- <h1>Home</h1> -->

<!-- <p>{{ user.tipo_usuario }}</p> -->

<!-- {% if user.is_authenticated %}
    <p>Bem-vindo, {{ user.username }}!</p>
{% endif %} -->
<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'imgs/Carrossel.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'imgs/Carrossel2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'imgs/Carrossel3.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="">
    <h2><b>Mais Vendidos</b></h2>
    <div class="container">
        <div class="coverflow-container">
            <div class="coverflow">
                {% for prato in ranking %}
                    {% if user.is_authenticated and user.tipo_usuario == 'CLIENT' %}
                        <a href="{% url 'details_plate' %}"> 
                    {% else %}
                        <a href="{% url 'login_register' %}">
                    {% endif %}
                    
                        <div class="slide card-venda">
                            <img src="{{ prato.photo.url }}" alt="{{ prato.name }}" width="100"> 
                            
                            <div class="slide-content"> 
                                <h4><b>{{ prato.name }}</b></h4> 
                                
                                <p class="product-description">{{ prato.description }}</p> 
                                
                                <div class="price-button">
                                    R$ 40,00 
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    
        <button id="prev" class="butao"><img src="{% static 'imgs/seta.png' %}" alt="seta_esquerda"></button>
        <button id="next" class="butao"><img src="{% static 'imgs/seta.png' %}" alt="seta_direita"></button>
    </div> 
</section>

<div class="container-sushi">
    {% if user.is_authenticated and user.tipo_usuario == 'CLIENT' %}
        <a href="{% url 'client_menu' %}" class="container-btn-sessao"> 
    {% elif user.is_authenticated and user.tipo_usuario == 'MANAGER' %}
        <a href="{% url 'manager_menu' %}" class="container-btn-sessao"> 
    {% elif user.is_authenticated and user.tipo_usuario == 'DELIVERY_MAN' %}
        <a href="{% url 'login_register' %}" class="container-btn-sessao"> 
    {% else %}
        <a href="{% url 'visitor_menu' %}" class="container-btn-sessao">
    {% endif %}
            <p class="btn-sessao teste">Compre Agora</p></a>
    <section class="sushi-benefits">
        
        <div class="benefits-grid">
          <div class="center">
            <img src="{% static 'imgs/Imagem-centro-vantagens.png' %}" alt="Sushi" class="sushi-img">
          </div>
    
        <div class="benefit right top">
          <h3><b>Ingredientes Sempre Frescos</b></h3>
          <p>Trabalhamos com peixes frescos selecionados diariamente, garantindo sabor, textura e segurança alimentar.</p>
        </div>
    
        <div class="benefit left mid-top">
          <h3><b>Arroz Preparado na Hora</b></h3>
          <p>Nosso arroz é temperado com receita exclusiva e preparado no mesmo dia para manter a qualidade e o sabor original.</p>
        </div>
    
        
        <div class="benefit right mid-bottom">
            <h3><b>Entrega Rápida e Segura</b></h3>
            <p>Embalagens seladas e transporte refrigerado, garantindo que seu sushi chegue fresco e intacto.</p>
        </div>
        
        <div class="benefit left bottom">
            <h3><b>Higiene e Segurança</b></h3>
            <p>Ambiente de produção esterilizado e equipe treinada para manipulação correta de alimentos crus.</p>
        </div>
        
    </div>
    
    </section>
</div>

<section>
    <a href="" class="container-btn-sessao teste2"><p class="btn-sessao teste2">Contate-nos</p></a>
    <div class="grid-container">
        <div class="grid-item area-a">
            <img src="{% static 'imgs/Grid(area-a).png' %}">
            <div class="overlay">Sushi Especial</div>
        </div>

        <div class="grid-item area-b">
            <img src="{% static 'imgs/Grid(area-b).png' %}">
            <div class="overlay">Sashimi Fresco</div>
        </div>

        <div class="grid-item area-c">
            <img src="{% static 'imgs/Grid(area-c).png' %}">
            <div class="overlay">Combinado Premium</div>
        </div>

        <div class="grid-item area-d">
            <img src="{% static 'imgs/Grid(area-d).png' %}">
            <div class="overlay">Onigiri</div>
        </div>

        <div class="grid-item area-e">
            <img src="{% static 'imgs/Grid(area-e).png' %}">
            <div class="overlay">Hot Roll Gourmet</div>
        </div>

    </div>
</section>

{% endblock content %}



{% block scripts %}
<script>
    const coverflow = document.querySelector('.coverflow');
    const prev = document.getElementById('prev');
    const next = document.getElementById('next');

    const scrollStep = 220; 

    next.addEventListener('click', () => {
        coverflow.scrollBy({
            left: scrollStep,
            behavior: 'smooth'
        });
    });

    prev.addEventListener('click', () => {
        coverflow.scrollBy({
            left: -scrollStep,
            behavior: 'smooth'
        });
    });
</script>
{% endblock %}